body{
    margin: 0;
    padding: 0;
    background-color: #5f5c89;
}

h1{
    margin: 0;
    padding: 15px;
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #120907;
    -webkit-text-fill-color: #dfdaed;
}

img{
    border: 15px solid #262239;
    border-radius: 15px;
    margin: 20px;
    height: 300px;
    float: left;
}

h2{
    background-color: #262239;
    margin: 40px;
    text-align: center;
    width: 75%;
    font-size: 2rem;
    float: right;
    border-radius: 15px;
    margin-top: 80px;
}

/* 
.color1 {color: #120907; Dark Brown}
.color2 {color: #262239; Dark Purple}
.color3 {color: #5f5c89; Lavender}
.color4 {color: #9e9de7; periwinkle} 
.color5 {color: #dfdaed; very light pink/gray}
*/